#caja {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
  }

a[class] { color: rgb(255, 115, 0); }


.caja {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.error {
  color: red;
}